{% extends 'base.html.twig' %}

{% block title %}{{site.nom}}{% endblock %}

{% block body %}
<br><br><br>
 <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Site </legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Nom :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{site.nom}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Description :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{site.description}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Image :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {% if site.image == null %}
                        Pas d'image disponible.
                    {% else %}
                        <img style="width:20rem; height:11rem;" src="{{ site.displayPhoto }}">
                    {% endif %}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Icon :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{site.icon}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Catégorie :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{site.categoriesite.nom}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Map :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{site.map}}
                    </div></div>
                </div>
                <br>
                <a href="{{path('show_sites')}}"><button type="button" class="btn btn-primary">Retourner</button></a>
            </fieldset>
        </div>
</div>
</div>
{% endblock %}