{% extends 'base.html.twig' %}

{% block title %}Velo{% endblock %}

{% block body %}
<br><br><br>
 <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Velo </legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Type :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{velo.type}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Reference :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{velo.reference}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Image :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {% if velo.image == null %}
                        Pas d'image disponible.
                    {% else %}
                        <img style="width:20rem; height:11rem;" src="{{ velo.displayPhoto }}">
                    {% endif %}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Status :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{velo.disponibilite}}
                    </div></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Taille :</label>
                    <div class="col-lg-10">
                    <div class="form-control">
                    {{velo.taillevelo.nom}}
                    </div></div>
                </div>
                <br>
                <a href="{{path('show_velos')}}"><button type="button" class="btn btn-primary">Retourner</button></a>
            </fieldset>
        </div>
</div>
</div>
{% endblock %}