{% extends 'base.html.twig' %}

{% block title %}New velo{% endblock %}

{% block javascripts %}
<script src="{{asset('build/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js')}}"></script>
<script src="{{asset('build/global_assets/js/demo_pages/form_select2.js')}}"></script>
{% endblock %}

{% block body %}
    <br><br><br>
    {{ form_start(form_velo,{'attr': {'novalidate': 'novalidate'}} )}}
    <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Créer un velo</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Type :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_velo.type, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Type'}})}}
                    </div>
                </div>
                 <div class="form-group row">
                    <label class="col-form-label col-lg-2">Reference :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_velo.reference, {'attr' : { 'class': 'form-control', 'placeholder':'Reference'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Image :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_velo.image, {'attr' : { 'class': 'form-control-uniform', 'placeholder':'Image'}})}}
                    </div>
                </div>
                 <div class="form-group row">
                    <label class="col-form-label col-lg-2">Status :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_velo.disponibilite, {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible', 'placeholder':'Disponibilité'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Taille :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_velo.taillevelo, {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible', 'style':'width:100%', 'placeholder':'Taille'}})}}
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-primary" style="float:right;">Submit <i class="icon-checkmark3 font-size-base mr-1"></i></button>
            </fieldset>
        </div>
</div>
</div>

{{ form_end(form_velo)}}
</form>

{% endblock %}