{% extends 'base.html.twig' %}

{% block title %}New commande{% endblock %}

{% block javascripts %}
<script src="{{asset('build/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js')}}"></script>
<script src="{{asset('build/global_assets/js/demo_pages/form_select2.js')}}"></script>
<script src="{{asset('build/global_assets/js/plugins/ui/ripple.min.js')}}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
<script type="text/javascript">
// add row
var $addReponseLink = $('<br><a href="#" class="add_reponse_link btn btn-primary"> Ajouter un participant <i class="glyphicon glyphicon-plus"></i></a>');
var $newLinkLiExp = $('<span></span>').append($addReponseLink);

    ///Add Reponse:

    jQuery(document).ready(function () {
        // Get the ul that holds the collection of sections
        var $collectionHolder = $('div.reponses');

        // add the "add a section" anchor and li to the sections ul
        $collectionHolder.append($newLinkLiExp);


        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addReponseLink.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new section form (see code block below)
            addReponseForm($collectionHolder, $newLinkLiExp);
            $("[type='checkbox']").bootstrapSwitch();
        });

        $('.multiselectCommun').multiselect({
                    buttonClass: 'btn fieldClass',
                    maxHeight: 200,
                    enableCaseInsensitiveFiltering: true,
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    nonSelectedText: 'Aucune sélection',
                    nSelectedText: 'sélectionnés',
                    allSelectedText: 'Tout est sélectionné',
                    selectAllText: 'Sélectionner tout',
                    filterPlaceholder: 'Rechercher ...',
                     templates: {
                        filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
                    },
                    onChange: function() {
                        $.uniform.update();
                    },
                    onSelectAll: function() {
                        $.uniform.update();
                    }
});
    });

    /// Add Reponse Form

    function addReponseForm($collectionHolder, $newLinkLiExp) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
        

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newFormExp = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a section" link li
        var $newFormLiExp = $('<span></span>').append(newFormExp);


        $newLinkLiExp.before($newFormLiExp);
       $(".summernotetext").summernote();

        // handle the removal, just for this example
        $('.remove-reponse').click(function (e) {
            e.preventDefault();

            $(this).parent().remove();

            return false;
        });
    }
    
</script>
{% endblock %}

{% block body %}
    <br><br><br>
    {{ form_start(form_passerdate)}}
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-l font-weight-bold">Passer une commande</legend>
                        <div class="font-weight-semibold" style="margin-top:0.7rem;"> Veuillez indiquer la date de debut et la date de fin de vote reservation :</div>
                        <br><br>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Date de debut :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form_passerdate.debutdate)}}
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <label class="col-form-label col-lg-2">Date de fin :</label>
                                {{ form_widget(form_passerdate.findate)}}
                                <a href="{{ path('new_commande') }}"><button type="submit" class="btn btn-success" style="float:right;">Valider <i class="icon-checkmark3 font-size-base mr-1"></i></button></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{{ form_end(form_passerdate)}}

    {{ form_start(form_commande,{'attr': {'novalidate': 'novalidate'}} )}}
    <div class="content">
    <div class="row">
    <div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Reservation</legend>
                 <div style="display:none;">
                        {{ form_widget(form_commande.debutdate, {'attr' : {'class': 'form-control'}})}}
                        {{ form_widget(form_commande.findate, {'attr' : {'class': 'form-control'}})}}
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Nom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.nom, {'attr' : {'class': 'form-control', 'placeholder':'Nom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Prenom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.prenom, {'attr' : {'class': 'form-control', 'placeholder':'Prenom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">CIN :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.cin, {'attr' : {'class': 'form-control', 'placeholder':'CIN'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Email :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.email, {'attr' : {'class': 'form-control', 'placeholder':'Email'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adresse :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.adresse, {'attr' : {'class': 'form-control', 'placeholder':'Adresse'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Telephone :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.telephone, {'attr' : {'class': 'form-control', 'placeholder':'Telephone'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Commentaire :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.commentaire, {'attr' : {'class': 'form-control', 'placeholder':'Commentaire'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Accessoires :</label>
                    <div class="col-lg-10">
                    <ul class="select2-selection__rendered" style="border:1px solid #eeeeee;">
                        {{ form_widget(form_commande.accessoires, {'attr' : {'class': 'form-control select select2-hidden-accessible', 'multiple' : 'multiple', 'data-fouc': 'data-fouc', 'tabindex':'-1'}})}}
                    </ul>
                    </div>
                </div>
                <br>
            </fieldset>
             </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">La liste des vélos disponibles</legend>
                        <br>
                                                
                <div class="row">
                    {% for chaque in lesvelos %}
                    <a href="#" data-toggle="modal" data-target="#modal_show{{chaque.id}}">
					<div class="col-xl-5 col-xl-3">
						<div class="card">
							<div class="card-img-actions mx-1 mt-1">
								<img class="card-img img-fluid" src="{{ chaque.displayPhoto }}" alt="">
								<div class="card-img-actions-overlay card-img">
								</div>
							</div>
                    </a>
							<div class="card-body">
								<div class="d-flex align-items-start flex-nowrap">
									<div>
										<div class="font-weight-semibold mr-2">{{chaque.reference}}</div>
                                        <span class="font-size-sm text-muted">{{chaque.type}}</span><br>
										<span class="font-size-sm text-muted">Taille: {{chaque.taillevelo.nom}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

                    <!-- Iconified modal -->
									<div id="modal_show{{chaque.id}}" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header bg-info">
													<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Velo</h5>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<div class="modal-body">

													<h6 class="font-weight-semibold"><i class="icon-law mr-2"></i>Plus d'information sur cette velo</h6>
													<br>
													<div class="form-group row">
                                                        <label class="col-form-label col-lg-2">Type :</label>
                                                        <div class="col-lg-10">
                                                        <div class="form-control">
                                                        {{chaque.type}}
                                                        </div></div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-lg-2">Reference :</label>
                                                        <div class="col-lg-10">
                                                        <div class="form-control">
                                                        {{chaque.reference}}
                                                        </div></div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-lg-2">Taille :</label>
                                                        <div class="col-lg-10">
                                                        <div class="form-control">
                                                        {{chaque.taillevelo.nom}}
                                                        </div></div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-lg-2">Image :</label>
                                                        <div class="col-lg-10">
                                                        <div class="form-control">
                                                        {% if chaque.image == null %}
                                                            Pas d'image disponible.
                                                        {% else %}
                                                            <img style="width:20rem; height:11rem;" src="{{ chaque.displayPhoto }}">
                                                        {% endif %}
                                                        </div></div>
                                                    </div>

												</div>

												<div class="modal-footer">
													<button class="btn btn-link info" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Fermer</button>
												</div>
											</div>
										</div>
									</div>
								<!-- /iconified modal -->
                    
                    {% endfor %}
    
                                        
                </div>
        </div>
    </div>
</div>
</div>



                {% macro information_prototype(form_commande) %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Ajouter un participant</legend>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Nom :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form_commande.nom, {'attr' : {'class': 'form-control'}})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Prenom :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form_commande.prenom, {'attr' : {'class': 'form-control'}})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Velo : </label>
                            <div class="col-lg-10">
                                 {{ form_widget(form_commande.velo, {'attr' : {'class': 'form-control multiselectCommun'}})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Taille de velo :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form_commande.taillevelo, {'attr' : {'class': 'form-control multiselectCommun'}})}}
                                <!-- {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible', 'style':'width:100%', 'placeholder':'Taille'} -->
                            </div>
                        </div>
                </div>
            </div>   
    </div>
        
            {% endmacro %}
            <div class="reponses"  data-prototype="{{ _self.information_prototype(form_commande.participant.vars.prototype)|e }}">
                    {% for reponse in form_commande.participant %}
                        {{ _self.information_prototype(form_commande) }}
                    {% endfor %}
            </div>

                <button type="submit" class="btn btn-success" style="float:right;">Réserver <i class="icon-checkmark3 font-size-base mr-1"></i></button>
                

</div>


{{ form_end(form_commande)}}
</form>

{% endblock %}
