{% extends 'base.html.twig' %}

{% block title %}Passer une commande{% endblock %}

{% block body %}
<br><br><br>
{{ form_start(form_passerdate)}}
<div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-l font-weight-bold">Passer une commande</legend><br>
                <p class="font-weight-semibold"> Veuillez indiquer la date de debut et la date de fin de vote reservation :</p>
                <br>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Date de debut :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_passerdate.debutdate)}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Date de fin :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_passerdate.findate)}}
                    </div>
                </div>
                <br>
                <a href="{{ path('new_commande') }}"><button type="submit" class="btn btn-success" style="float:right;">Valider <i class="icon-checkmark3 font-size-base mr-1"></i></button></a>
        </div>
    </div>
</div>
{{ form_end(form_passerdate)}}
                
{% endblock %}