{% extends 'base.html.twig' %}

{% block title %}Modifier une accessoire{% endblock %}

{% block javascripts %}
<script src="{{asset('build/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js')}}"></script>
<script src="{{asset('build/global_assets/js/demo_pages/form_select2.js')}}"></script>
{% endblock %}

{% block body %}
    <br><br><br>
    {{ form_start(form_accessoire,{'attr': {'novalidate': 'novalidate'}} )}}
    <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Modifier une accessoire</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Titre :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_accessoire.titre, {'attr' : {'class': 'form-control', 'placeholder':'Titre'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Reference :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_accessoire.reference, {'attr' : {'class': 'form-control', 'placeholder':'Reference'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Image :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_accessoire.image, {'attr' : {'class': 'form-control-uniform','onchange':'longblob'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Disponibilité :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_accessoire.disponibilite, {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible', 'placeholder':'Disponibilité'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Description :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_accessoire.description, {'attr' : { 'class': 'form-control-uniform', 'placeholder':'Accessoire'}})}}
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success" style="float:right;">Modifier <i class="icon-checkmark3 font-size-base mr-1"></i></button>
                <a href="{{path('show_accessoires')}}"><button class="btn btn-primary" style="float:left;">Retourner </button></a>
            </fieldset>
        </div>
</div>
</div>

{{ form_end(form_accessoire)}}
</form>


{% endblock %}