{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}



{% block body %}
    <br><br><br>
    {{ form_start(form_client,{'attr': {'novalidate': 'novalidate'}} )}}
    <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Modifier un client</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Nom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.nom, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Nom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Prenom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.prenom, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Prenom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">CIN :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.cin, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'CIN'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Email :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.email, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Email'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adresse :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.adresse, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Adresse'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Telephone :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_client.telephone, {'attr' : {'required':'required' , 'class': 'form-control', 'placeholder':'Telephone'}})}}
                    </div>
                </div>
                
                
                
                <br>
                <button type="submit" class="btn btn-success" style="float:right;">Modifier <i class="icon-checkmark3 font-size-base mr-1"></i></button>
                <a href="{{path('show_clients')}}"><button class="btn btn-primary" style="float:left;">Retourner </button></a>
            </fieldset>
        </div>
</div>
</div>

{{ form_end(form_client)}}
</form>


{% endblock %}