{% extends 'base.html.twig' %}

{% block title %}Modifier une commande{% endblock %}

{% block javascripts %}
<script src="{{asset('build/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js')}}"></script>
<script src="{{asset('build/global_assets/js/demo_pages/form_select2.js')}}"></script>
{% endblock %}


{% block body %}
    <br><br><br>
    {{ form_start(form_commande,{'attr': {'novalidate': 'novalidate'}} )}}
    <div class="content">
    <div class="card">
        <div class="card-body">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Modifier une commande</legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Date de debut :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.debutdate, {'attr' : {'class': 'form-control', 'placeholder':'Date de debut','type':'date'}})}}
                    </div>
                </div>
                 <div class="form-group row">
                    <label class="col-form-label col-lg-2">Date de fin :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.findate, {'attr' : {'class': 'form-control', 'placeholder':'Date de fin'}})}}
                    </div>
                </div>
                 <div class="form-group row">
                    <label class="col-form-label col-lg-2">Commentaire :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.commentaire, {'attr' : {'class': 'form-control', 'placeholder':'Commentaire'}})}}
                    </div>
                </div>


                <legend class="text-uppercase font-size-sm font-weight-bold">Le client liée au commande</legend>
                  <div class="form-group row">
                    <label class="col-form-label col-lg-2">Nom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.nom, {'attr' : { 'class': 'form-control', 'placeholder':'Nom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Prenom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.prenom, {'attr' : { 'class': 'form-control', 'placeholder':'Prenom'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Email :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.email, {'attr' : {'class': 'form-control', 'placeholder':'Email'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">CIN :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.cin, {'attr' : {'class': 'form-control', 'placeholder':'CIN'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adresse :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.adresse, {'attr' : {'class': 'form-control', 'placeholder':'Adresse'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Telephone :</label>
                    <div class="col-lg-10">
                        {{ form_widget(form_commande.client.telephone, {'attr' : {'class': 'form-control', 'placeholder':'Telephone'}})}}
                    </div>
                </div>
                <br>
                <legend class="text-uppercase font-size-sm font-weight-bold">Les participants liée au commande</legend>
                {% for chaque in form_commande.participant %}
                 <div class="form-group row">
                    <label class="col-form-label col-lg-2">Nom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(chaque.nom, {'attr' : {'class': 'form-control'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Prenom :</label>
                    <div class="col-lg-10">
                        {{ form_widget(chaque.prenom, {'attr' : {'class': 'form-control'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Velos :</label>
                    <div class="col-lg-10">
                        {{ form_widget(chaque.velo, {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible'}})}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Taille de velo :</label>
                    <div class="col-lg-10">
                        {{ form_widget(chaque.taillevelo, {'attr' : {'class': 'form-control select-fixed-single select2-hidden-accessible'}})}}
                    </div>
                </div>
                <br>
                <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success" style="float:right;">Modifier <i class="icon-checkmark3 font-size-base mr-1"></i></button>
                <a href="{{path('show_commandes')}}"><button class="btn btn-primary" style="float:left;">Retourner </i></button></a>
            </fieldset>
        </div>
</div>
</div>

{{ form_end(form_commande)}}
</form>


{% endblock %}