
<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md" >

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content" style="overflow:hidden;">
				
				<!-- User menu -->

					<div class="collapse" id="user-nav">
						<ul class="nav nav-sidebar">
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="icon-user-plus"></i>
									<span>My profile</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="icon-coins"></i>
									<span>My balance</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="icon-comment-discussion"></i>
									<span>Messages</span>
									<span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="icon-cog5"></i>
									<span>Account settings</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="icon-switch2"></i>
									<span>Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /user menu -->

				
				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
						{% if not app.user %}
						<span class="d-block font-weight-normal opacity-50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vous n'étes pas connecté.</span>
						<a href="{{path('inscription')}}" class="nav-link">
							<i class="icon-home4"></i>
								<span>
									Inscription
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{path('connexion')}}" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Connexion
								</span>
							</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a href="{{path('deconnexion')}}" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Déconnexion
								</span>
							</a>
						</li>
						{% endif %}
						<hr>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Sites</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_sites')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_site')}}" class="nav-link">Create</a></li>
									<li class="nav-item nav-item-submenu">
										<a href="#" class="nav-link">Categories des sites</a>
										<ul class="nav nav-group-sub">
											<li class="nav-item"><a href="{{path('show_categoriesite')}}" class="nav-link">Show</a>
											</li>
											<li class="nav-item"><a href="{{path('new_categorie_site')}}" class="nav-link">Create</a>
											</li>
										</ul>
									</li>
						 		</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Circuits</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_circuits')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_circuit')}}" class="nav-link">Create</a></li>
									<li class="nav-item nav-item-submenu">
										<a href="#" class="nav-link">Categories des circuits</a>
										<ul class="nav nav-group-sub">
											<li class="nav-item"><a href="{{path('show_categoriescircuits')}}" class="nav-link">Show</a>
											</li>
											<li class="nav-item"><a href="{{path('new_categorie_circuit')}}" class="nav-link">Create</a>
											</li>
										</ul>
									</li>
						 		</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Velos</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_velos')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_velo')}}" class="nav-link">Create</a></li>
									<li class="nav-item nav-item-submenu">
										<a href="#" class="nav-link">Tailles des velos</a>
										<ul class="nav nav-group-sub">
											<li class="nav-item"><a href="{{path('show_taillevelos')}}" class="nav-link">Show</a>
											</li>
											<li class="nav-item"><a href="{{path('new_taillevelo')}}" class="nav-link">Create</a>
											</li>
										</ul>
									</li>
						 		</ul>
						</li>
						<hr>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Commandes</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_commandes')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_commande')}}" class="nav-link">Create</a></li>
								</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Clients</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_clients')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_client')}}" class="nav-link">Create</a></li>
								</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Participants</span></a>
								<ul class="nav nav-group-sub" data-submenu-title="Layouts">
									<li class="nav-item"><a href="{{path('show_participants')}}" class="nav-link">Show</a></li>
									<li class="nav-item"><a href="{{path('new_participant')}}" class="nav-link">Create</a></li>
								</ul>
						</li>
						<hr>
						
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		<!-- /main sidebar -->